<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title th:text="${patient.id == null} ? 'Add Patient - MédiLabo Solutions' : 'Edit Patient - MédiLabo Solutions'">
        Patient - MédiLabo Solutions
    </title>
</head>

<body>

    <h1 th:text="${patient.id == null} ? 'Add Patient' : 'Edit Patient'">
        Patient
    </h1>

    <form th:action="${patient.id == null} ? @{/patients} : @{/patients/{id}(id=${patient.id})}"
          th:object="${patient}"
          method="post">

        <label>First name</label>
        <input type="text" th:field="*{firstName}" required>

        <br><br>

        <label>Last name</label>
        <input type="text" th:field="*{lastName}" required>

        <br><br>

        <label>Birth date</label>
        <input type="date" th:field="*{birthDate}" required>

        <br><br>

        <label>Gender</label>
        <input type="text" th:field="*{gender}" required>

        <br><br>

        <label>Address</label>
        <input type="text" th:field="*{address}">

        <br><br>

        <label>Phone</label>
        <input type="text" th:field="*{phone}">

        <br><br>

        <button type="submit">Save</button>

    </form>

    <div th:if="${patient.id != null}">
        <hr>

        <h2>Patient History</h2>

        <div th:if="${#lists.isEmpty(notes)}">
            <p>No notes available for this patient.</p>
        </div>

        <div th:each="note : ${notes}">
            <p style="white-space: pre-wrap;" th:text="${note.note}"></p>
            <hr>
        </div>

        <h2>Add Note</h2>

        <form th:action="@{/patients/{id}/notes(id=${patient.id})}"
              method="post">

            <label for="noteText">Note</label>

            <br><br>

            <textarea id="noteText"
                      name="noteText"
                      rows="8"
                      cols="80"
                      required></textarea>

            <br><br>

            <button type="submit">Add note</button>

        </form>
    </div>

</body>
</html>